*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
	width: 100%;
	body {
		height: 100%;
		width: 100%;
        font-family: "PT Sans", Helvetica, Arial, sans-serif;  
		.part-1{
			position: relative;
			width: 100%;
			height: 100%;
			background-image: url(/img/Family_Transparent1.png);
			.navigation {
				position: fixed;
				width: 100%;
				list-style: none;
                margin: 0;
                background: url("/img/fondo-menu.png");
                background-size: cover;
                background-repeat: no-repeat;    
                display: -webkit-box;
                display: -moz-box;display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
				-webkit-flex-flow: row wrap;
				justify-content: flex-end;
				z-index: 2;
			}
			.navigation a {
  				text-decoration: none;
  				display: block;
  				padding: 1em;
  				color: white;
  				font-family: arial;
  				text-align: center; 
    			padding: 15px;
			}
			.navigation a:hover {
  				color: darken(#448C42, 2%);
                text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);                  
			}
			.container-part-1{
				justify-content: center;
				width: 100%;
				position: relative;
				top: 150px;
  				height: auto;
  				#tex-1{
  					font-family: arial;
  					font-size: 40px;
  					text-align: center;
  				}
  				#tex-2{
  					width: 100%;
  					position: relative;
  					text-align: center;
  					font-size: 22px;
  						
  				}
  			}
		}
		.part-2{
			position: relative;	
			width: 100%;
			height: 100%;
            background: url("/img/manos-fam.png") center fixed;
            background-repeat: no-repeat;
            background-size: cover;
			.quienes-somos{	
                display: flex;         
                position: relative;
                width: 550px;
                height: 550px;
                border-radius: 50%;
                background: rgba(0,0,0,0.69);
                padding: 10px;
                top: 70px;    
                margin: auto;    
				#logo{
					position: absolute;
                    left: 36%;
                    width: 160px;
                    height: 160px;
                    padding: 0;
                    top: 60px;
                    border-radius: 50%;
                    border: solid 3px #fff              
				}
				#tex-3{
                    position: relative;
                    top: 50px;
                    width: 80%;
                    text-align: justify;
                    font-size: 18px;
                    color: #fff;
                    margin: auto;
				}
            }
        }
        .part-3{
            position: relative;
            width: 100%;
            height: 100%;
            background: url("/img/fondo2.jpg") center fixed;
            background-size: cover;
            background-repeat: no-repeat;
            .que-ofrecemos{
                position: relative;
                width: 550px;
                height: 550px;
                border-radius: 50%;
                background: rgba(0,0,0,0.69);
                padding: 10px;
                top: 80px;    
                margin: auto;
                #tex-4{
                    position: relative;
                    top: 110px;
                    width: 80%;
                    text-align: justify;
                    padding: 51px;
                    font-size: 18px;
                    color: white;
                }
            }
        }
        .servicios{
            position: relative;
            width: 100%;
            height: 101%;
            display: flex;
            h1 {
                position: absolute;
                text-align: center;
                width: 100%;
                font-size: 45px;
                top: 50px;
            }
            #des-humano{
                position: absolute;
                width: 100%;
                height:10px;
                top: 130px;
                font-size: 17px;
                padding: 16px;
            }           
            .flex-container-des-humano {
                padding: 0;
                margin: 0;
                list-style: none;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-flow: row wrap;
                justify-content: center;
                width: 100%;
                position: absolute;
                top: 180px;
                left: 40px;
            }
            .flex-item-ter-alte {
                width: 200px;
                height: 150px;
            }
            .icono-terapia{
                width: 100px;  
                img {
                    width: 50%;
                }
            }
            #te-alternas{
                position: absolute;
                width: 100%;
                top: 300px;
                font-size: 17px;
                padding: 16px;
            }
            .flex-container-ter-alter{
                padding: 0;
                margin: 0;
                list-style: none;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-flow: row wrap;
                justify-content: center;
                width: 100%;
                position: absolute;
                top: 380px;
                left: 40px;
                img {
                    width: 50%;
                }
            }
            .fondo-rgba{
                width: 100%;
                height: 100%;
                position: fixed;
                background: rgba(0,0,0,0.8);
                z-index: 1;
                top: 0;
                left: 0;
                display: none;
                .info-terapias{
                    width: 550px;
                    height: 550px;
                    border-radius: 50%;
                    z-index: 2;
                    background: url("/img/fondo.contacto1.png") no-repeat center;
                    background-size: cover;
                    top: 100px;
                    margin: auto;
                    position: relative;
                    .im-cierre{
                        position: absolute;
                        width: 100px;
                        left: 250px;
                        top: 15px;
                        img {
                            width: 60%;
                        }
                    }     
                    .titulo-terapia{
                        position: relative;
                        width: 70%;
                        font-size: 34px;
                        top: 87px;
                        margin: auto;
                    }
                    .cont-terapia{
                        position: absolute;
                        width: 80%;
                        height: 200px;
                        text-align: justify;
                        top: 200px;
                        left: 56px; 
                        overflow: scroll;
                    }    
                }
            }           
        }       
    }
}                
    /*.contacto{
        position: relative;
        width: 100%;
        height: auto;
        background: url("/img/cont-back.png");
        background-size: cover;
        display: flex;
        top: 130px;
        #tit-contacto {
            position: absolute;
            width: 100%;
        }
        #tex-contacto{
            position: absolute;
            width: 100%;
            height: 10px;
            font-size: 17px;
            text-align: center;
        }
        .formulario{
            position: relative;
            width: 100%;
            height: 230px;
            margin-top: 110px;
            display: flex;
            #nombre {
                position: relative;
                width: auto;
                top: 7px;
                font-size: 20px;
                left: 30px;       
            }
            input {
                position: relative;
                width: 25%;
                height: 28px;
                border-radius: 10px;
                outline: 0;
                border-bottom: 1px solid #fff;
                padding: 0 10px;
                font-size: 16px;
                font-family: "PT Sans",Helvetica,Arial,sans-serif;
                color: #448c42;
            }
            #name-form{
                left: 70px;
            }
            #mail{
                position: absolute;
                width: auto;
                top: 60px;
                font-size: 20px;
                left: 30px;      
            }
            #mail-form{
                top: 55px;
                right: 242px;
            }
            #terapia-interes{
                position: absolute;
                width: auto;
                top: 115px;
                font-size: 20px;
                left: 30px;
            }
            select {
                position: relative;
                display: block;
                top: 120px;
                right: 430px;
                height: 190px;
                width: 187px;
            }
            #boton-enviar{
                position: relative;
                width: 130px;
                height: 30px;
                font-size: 14px;
                border-radius: 15px;
                background: #438941;
                top: 170px;
                right: 740px;
                cursor: pointer;
            } 
        }   
    }     
	}	
}*/























