*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
	width: 100%;
	body {
		height: 100%;
		width: 100%;
        font-family: "PT Sans", Helvetica, Arial, sans-serif;  
		.part-1{
			position: relative;
			width: 100%;
			height: 100%;
			background-image: url(/img/Family_Transparent1.png);
			.navigation {
				position: fixed;
				width: 100%;
				list-style: none;
                margin: 0;
                background: url("/img/fondo-menu.png");
                background-size: cover;
                background-repeat: no-repeat;    
                display: -webkit-box;
                display: -moz-box;display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
				-webkit-flex-flow: row wrap;
				justify-content: flex-end;
				z-index: 2;
			}
			.navigation a {
  				text-decoration: none;
  				display: block;
  				padding: 1em;
  				color: white;
  				font-family: arial;
  				text-align: center; 
    			padding: 15px;
			}
			.navigation a:hover {
  				background: darken(#1BA641, 2%);
			}
			.container-part-1{
				justify-content: center;
				width: 100%;
				position: relative;
				top: 150px;
  				height: auto;
  				#tex-1{
  					font-family: arial;
  					font-size: 40px;
  					text-align: center;
  				}
  				#tex-2{
  					width: 100%;
  					position: relative;
  					text-align: center;
  					font-family: cursive;
  					font-size: 22px;
  						
  				}
  			}
		}
		.part-2{
			display: flex;
			position: relative;	
			width: 100%;
			height: 100%;
			.quienes-somos{	
				position: relative;
				width 100%;
				height: 300px;
				#logo{
					position: relative;
					left: 43%;
	 				width: 130px;
	 				height: 130px;
	 				padding: 0;
	 				top: 60px;
				}
				#tex-3{
				  	top: 70px;
  					width: 80%;
  					margin: auto;
  					position: relative;
  					font-size: 18px;
  					text-align: justify;
				}
				.im-fixed-1{
					position: relative;
					width: 100%;
  					height: 300px;
  					margin-top: 100px;
  					background: url("/img/manos-fam.png")center fixed;
  					background-repeat: no-repeat;
  					background-size: cover;
				}
				.terapias{
					position: relative
					width: 90%;
					height: 600px;
					margin: auto;
					top: 10px;
					h1{
						position: relative;
  						text-align: center;
  						width: 100%;
  						font-size: 40px;
					}
					h2{
						position: relative;
  						text-align: center;
  						width: 100%;
  						font-size: 25px;
  						top: 10px;
					}
					p{
						position: relative;
						width: 100%;
						top: 50px;
						font-size: 20px;
					}			
				}
				.flex-container-des-humano{
  					padding: 0;
  					margin: 0;
  					list-style: none;
  					display: -webkit-box;
  					display: -moz-box;
  					display: -ms-flexbox;
  					display: -webkit-flex;
  					display: flex;
  					-webkit-flex-flow: row wrap;
  					justify-content: space-around;
				}
				.flex-item-des-humano {
  					padding: 5px;
  					width: 200px;
  					height: 180px;
  					margin-top: 80px;
  					font-size:20px;
  					text-align: center;
				}
				.icono-terapia{
					width: 150px;
					height: auto;   
					img{
						width: 78%;
					}
				}
				.im-fixed-2{
				position: relative;
				width: 100%;
				height: 300px;
				top: 20px;
				background: url("/img/familia-feliz-1.jpg") center fixed;
				background-repeat: no-repeat;
				background-size: cover;
				}
				.flex-container-ter-alter{
					padding: 0;
  					margin: 0;
  					list-style: none;
  					display: -webkit-box;
  					display: -moz-box;
  					display: -ms-flexbox;
  					display: -webkit-flex;
  					display: flex;
  					-webkit-flex-flow: row wrap;
  					justify-content: space-around;
				}
				.flex-item-ter-alte {
  					padding: 5px;
  					width: 200px;
  					height: 180px;
  					margin-top: 80px;
  					font-size:20px;
  					text-align: center;
				}
				.im-fixed-3{
					position: relative;
					width: 100%;
					height: 300px;
					top: 20px;
					background: url("/img/fondo2.jpg") center fixed;
					background-repeat: no-repeat;
					background-size: cover;
				}
				.info-terapias{
  					width: 90%;
  					top: 110px;
  					height: 300px;
  					position: fixed;
  					z-index: 2;
  					right: 64px;
  					display: none;
            background: url("/img/fondo.contenido1.png");
            background-repeat: repeat-x y;    
  					.im-cierre{
  						width: 40px;
  					 height: 40px;
 						 left: 1109px;
 						position: relative;
 						top: 9px;
  						.close{
  							width: 34px;
  						}
  					}		
  					.titulo-terapia{
  						position: relative;
  						width: 100%;
  						height: 40px;
  						text-align: center;
  						margin-top: 40px;
  						font-size: 30px;
  					}
					.cont-terapia{
						width: 95%;
  						height: auto;
  						position: relative;
  						top: 30px;
  						text-align: justify;
  						padding: 17px;
  						font-size: 18px;
					}
				}	
				#tex-4{
					top: 66px;
  					width: 85%;
  					margin: auto;
  					position: relative;
  					font-size: 18px;
					text-align: justify;
				}
			}
		}		
		.part-3{
			width: 100%;
			height: 60%;	
			position: relative;
			.agenda-cita{
				position: relative;
				width: 100%;
				height: auto;
				display: flex;
				#tex-5{
					width: 54%;
  					font-size: 18px;
  					height: auto;
  					top: 123px;
  					left: 83px;
  				}
				input{
					top: 110px;
					position: relative;
  					width: 270px;
  					height: 45px;
  					font-size: 16px;
  					font-weight: 400;
  					border-radius: 14px;
  					outline: 0;
  					border-bottom: 1px solid #fff;
  					padding: 0px 10px;
  					font-family: arial;
  					left: 27px;
  				}
  				.boton{
  					position: relative;
  					top: 109px;
  					left: 65px;
  					width: 90px;
  					border-radius: 12px;
  				}
  			}	
			#sillon{
				width: 14%;
  			margin: auto;
  			margin-top: 130px;
  			margin-left: 43%;
			}
    }  
    .contacto{
      position: absolute;
      width: 100%;
      height: 200px;
      background: url("/img/cont-back.png");
      background-size: cover;
    }     
	}	
}























